.signin{
    margin: -1rem;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex: 100%;
    align-self: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    .headerStage{
        width: 100%;
        background-color: #1F2934;
        height: 200px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        border-top-left-radius: 20px 0px 0px 20px;
        h4{
            font-size: 2rem;
            margin-bottom: -20px;
            font-weight: 600;
        }
        h1{
            font-size:3rem;
            padding: 0;
            font-weight: 800;
        }
    }
    .formStage{
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;
        margin-top: 5%;
        margin-bottom: 5%;
        input{
            border-radius: 0;
        }
        .email{
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        .password{
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        .button{
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: center;
            button{
                display: flex;
                flex-direction: column;
                background-color: #1F2934;
                color: white;
                border-radius: 0;
            }
            button:hover{
                opacity: 0.9;
            }
        }
    }
}
@media screen and (max-width:600px){
    .signin{
        .headerStage{
            width: 100%;
            background-color: #1F2934;
            height: 150px;
        }
        .formStage{
            margin-top: 15%;
            margin-bottom: 15%;
            .button{
                width: 30%;
                align-self: center;
            }
        }
    } 
}