.signin {
  margin: -1rem;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: 'Roboto', sans-serif;
}

.signin .headerStage {
  width: 100%;
  background-color: #1F2934;
  height: 200px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  border-top-left-radius: 20px 0px 0px 20px;
}

.signin .headerStage h4 {
  font-size: 2rem;
  margin-bottom: -20px;
  font-weight: 600;
}

.signin .headerStage h1 {
  font-size: 3rem;
  padding: 0;
  font-weight: 800;
}

.signin .formStage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5%;
  margin-bottom: 5%;
}

.signin .formStage input {
  border-radius: 0;
}

.signin .formStage .email {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signin .formStage .password {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signin .formStage .button {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.signin .formStage .button button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1F2934;
  color: white;
  border-radius: 0;
}

.signin .formStage .button button:hover {
  opacity: 0.9;
}

@media screen and (max-width: 600px) {
  .signin .headerStage {
    width: 100%;
    background-color: #1F2934;
    height: 150px;
  }
  .signin .formStage {
    margin-top: 15%;
    margin-bottom: 15%;
  }
  .signin .formStage .button {
    width: 30%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
/*# sourceMappingURL=signin.css.map */