@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.productsedit{
    margin: -1rem;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex: 100%;
    align-self: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    .headerStage{
        width: 100%;
        background-color: #1F2934;
        height: 200px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        border-top-left-radius: 20px 0px 0px 20px;
        h4{
            font-size: 2rem;
            font-weight: 600;
        }
        h1{
            font-size:3rem;
            padding: 0;
            font-weight: 800;
            margin-bottom: -20px;
        }
    }
    .mainContent{
        display: flex;
        justify-content: center;
        align-self: center;
        flex-wrap: wrap;
        margin-bottom: 5%;
        margin-top: 5%;
        .formStage{
            display: flex;
            justify-content: center;
            align-self: center;
            flex-direction: column;
            margin-top: 5%;
            margin-bottom: 5%;
            label{
                font-weight: bold;
            }
            .name{
                width: 580px;
                display: flex;
                flex-direction: column;
                border-radius: 0;
            }
            .price{
                width: 100%;
                display: flex;
                flex-direction: column;
                border-radius: 0;
            }
            .image{
                width: 100%;
                display: flex;
                flex-direction: column;
                border-radius: 0;
            }
            .imagefile{
                width: 100%;
                display: flex;
                flex-direction: column;
                border-radius: 0;
            }
            .category{
                width: 100%;
                display: flex;
                flex-direction: column;
                border-radius: 0;
            }
            .brand{
                width: 100%;
                display: flex;
                flex-direction: column;
                border-radius: 0;
            }
            .countinstock{
                width: 100%;
                display: flex;
                flex-direction: column;
                border-radius: 0;
            }
            .description{
                width: 100%;
                display: flex;
                flex-direction: column;
                resize: none;
                border-radius: 0;
            }
            .button{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-self: center;
                margin-top: 10%;
                button{
                    width: 100%;
                    background-color: black;
                    color: white;
                    border-radius: 0;
                }
                button:hover{
                    opacity: 0.9;
                }
            }
        }
    }
}

@media screen and (max-width:600px){
    .productsedit{
        .headerStage{
            height: 150px;
        }
        button{
            display: block;
        }
    }
}